<?xml version="1.0" encoding="UTF-8"?>
<!-- Mapper를 만들 때 아래 doctype이 필요한데 이는 배포사이트에서 가져온다. https://mybatis.org/mybatis-3/getting-started.html -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 속성 namespace : 해당 Mapper파일을 호출하기 위해 정의한 인터페이스(서비스객체)의 패키지를 포함한 풀 경로를 기술한다. id : 실제 호출되는 함수명과 동일한 이름으로 기술한다. resultType : 쿼리 실행 후 반환되는 값의 타입을 명시한다. parameterType : 쿼리문에서 사용할 파라미터를 저장한 객체의 타입을 명시한다. -->
<!-- Mybatis 쿼리 성공 시 반환값 select : select문에 해당하는 결과를 반환한다. 아래와 같이 select의 결과가 MyBoardDTO타입이라면 패키지명을 포함한 클래스의 경로를 resultType에 기술한다. 만약 여러개의 레코드가 반환되면 List계열의 컬렉션에 저장되어 반환된다. -->
<mapper namespace="mybatis.MybatisDAOImpl">
	<!-- 방명록리스트 : 게시물 갯수 카운트 -->
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) from myboard
	</select>
	<!-- 방명록리스트 : start와 end에 해당하는 게시물 가져오기 -->
	<select id="listPage" resultType="mybatis.MyBoardDTO">
		SELECT * FROM (
		SELECT Tb.*, ROWNUM rNum FROM (
		SELECT * FROM myboard ORDER BY idx DESC
		) Tb
		)
		WHERE rNum BETWEEN #{param1} AND #{param2}
	</select>
</mapper>
